table.board {
    background: url('../images/shogi_board/masu_dot_xy.svg'), url('../images/shogi_board/ban_kaya_d.png');
    width: 20%;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: middle;
    table-layout: auto;
}

tr, td {
    padding: 1px;
    margin: 1px;
}
