table.board {
    width: 20%;
    height: 420px;
    text-align: center;
    vertical-align: middle;
    table-layout: fixed;
}

table, th, td {
   height: 0 auto;
   background-color: #000000;
}

td {
    width: 55px;
    height: 55px;
}

table div {
    height: 100%;
}
